{% extends 'index.html' %}

{% block title %}Category Form{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{% if form.instance.pk %}Update{% else %}Add{% endif %} Category</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'category_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
